<form class="form-signin" action="index.php" method="post">

  <input type="hidden" name="section" value="contact">
  <input type="hidden" name="action" value="submitContact">
  <h1 class="h3 mb-3 font-weight-normal"><?php echo $title; ?></h1>
  <h4><?php echo $content; ?></h4>

  <input type="email" id="inputEmail" class="form-control mb-5" placeholder="Email address" required autofocus name="email">

  <textarea id="comment" class="form-control mb-5" name="comment" placeholder="comment here"></textarea>

  <button class="btn btn-lg btn-primary btn-block" type="submit">Send</button>
</form>